html, body{
    height: 100%;
}
:root{
    --texto-white: white;
    --subTitulo:#24252D;
    --texto-black: #070000;
    --amarelo: #BCFF66; 
    --amarelo-font-size: 15px;
    --amarelo-font-bold:500;
    --margin15: 15px; 
    --margin-section: 50px;
}
.center{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5%;
}
header{
    position: absolute;
    width: 100%;
    z-index: 1;
}
header .flex{
    position: relative;
    z-index: 2;
    display: flex;
    height: 70px;
    flex-direction: row;
    justify-content: space-between
}
header .logo{
    color: var(--texto-white);
    line-height: 70px;
}
.logo h2{
    font-size: 40px;
   display: inline-block;
   font-weight: bold;
}
.logo p{
    margin-left: -2px;
    font-size: 15px;
    font-weight: lighter;
    display: inline-block;
}
nav.menu-desktop{
    height: 100%;
}
ul{
    height: 100%;
    list-style: none;
}
.menu-desktop li {
    display: inline-block;
    margin-right: 20px;
}
.menu-desktop a{
    display: block;
    height: 100%;
    padding: 0 10px;
    font-size: 17px;
    line-height: 85px;
    text-decoration: none;
    color: var(--texto-white);
    font-weight: lighter;
}
nav.menu-mobile{
    display: none;
    position: fixed;
    top: 0;
    right:0;
    width: 300px;
    height: 100vh;
    background-color: black;
    border-radius: 10px 0 0 0;
    text-align: center;
}
.header-mobile{
    background-color:  var(--amarelo);
    text-align: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    border-radius: 10px 0 0 0;
}
.header-mobile div{
    width: 100%;
}
.menu-mobile h3{
    text-align: left;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 900;
}
.menu-mobile h2{
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    margin-top: 10px;
}
.menu-mobile p{
    text-align: center;
    line-height: 17px;
}
.menu-mobile img{
    margin-right: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.menu-mobile ul{
    width: 100%;
    height: 100%;   
}
.menu-mobile a{
    display: block;
    width: 100%;
    padding: 15px 0;
    color: var(--texto-white);
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    background-color: black;
}
/*fim header*/

/*section bg*/
section.bg{
    background-image: url('../assets/bg-image2.jpg');
    background-size: cover;
    height: 650px;
    text-align: center;
    position: relative;
}
section.bg .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 0;
    opacity: 0.6;
}
section.bg .conteudo-bg{
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin-top: 200px;
    display: inline-block;
}
.conteudo-bg .interno-bg{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
}
.conteudo-bg .conteudo-apresentacao{
    text-align: left;
    width: 15%;
    margin-right: 20px;
}
.conteudo-apresentacao h2{
    line-height: 30px;
    font-size: 40px;
    font-weight: bold;
    color: var(--texto-white);
    text-transform: uppercase;
}
.conteudo-apresentacao .borda-apresentacao{
    margin-top: var(--margin15);
    background: var(--amarelo);
    height: 4px;
    width: 30px;
    margin-left: 1px;
}
.conteudo-apresentacao aside{
    line-height: 18px;
    margin-top: var(--margin15);
}
.conteudo-apresentacao div button{
    background: transparent;
    font-weight: var(--amarelo-font-bold);
    font-size: var(--amarelo-font-size);
    color: var(--amarelo);
    border: solid 2px var(--amarelo);
    margin-top: var(--margin15);
    padding: 3px;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
}
.conteudo-apresentacao strong{
    font-size: 16px;
    font-weight: normal;
    color: var(--texto-white);
}
.conteudo-apresentacao strong a{
    color: var(--texto-white);
    text-decoration: none;
}
.conteudo-bg div.titulo{
    width: 65%;
}
.conteudo-bg .titulo h1{
    font-size: 40px;
    width: 100%;
    border: solid 2px var(--amarelo);
    color: var(--amarelo);
}
.conteudo-bg .introdution{
    text-align: left;
    margin-left: 20px;
    width: 25%;
}
.introdution strong{
    color: var(--amarelo);
    font-size: var(--amarelo-font-size);
    text-transform: uppercase;
    font-weight: var(--amarelo-font-bold);
}
.introdution h3{
    margin-top: var(--margin15);
    color: var(--texto-white);
    font-size: 20px;
    word-wrap: wrap;
    line-height: 22px;
}
.introdution p{
    margin-top: var(--margin15);
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 23px;
    color: var(--texto-white);    
}
.introdution strong:nth-last-of-type(1){
    display: block;
    margin-top: var(--margin15);
    cursor: pointer;
}
.introdution strong:nth-last-of-type(1) span{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
}
h2.sub_titulo{
    color: var(--subTitulo);
    text-align: center;
    font-weight: 500;
    font-size: 35px;

}
/*portfolio*/
section.trabalhos{
    margin: var(--margin-section);
}
section.trabalhos aside{
    padding-top: 30px;
}
section.trabalhos aside ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
section.trabalhos aside li{
    width: 100%;
    max-width: 100px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    border: solid 3px #ccc;
    color: #ccc;
}
section.trabalhos .container-portfolio{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 40px;
}
section.trabalhos .caixa-item{
    background-image: url('../assets/bg-image.jpg');
    background-size: cover;
    border: solid 1px;
    min-height: 350px;
    position: relative;
    color: white;
    box-shadow: 7px 7px 12px 2px  black;
    cursor: pointer;
}
.caixa-item .overlay-item{
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 0;
}
section.trabalhos .conteudo-item{
    padding: 10px 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
section.trabalhos .conteudo-item h3{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
section.trabalhos .conteudo-item p {
    margin-top: 40px;   
    line-height: 23px;
    font-size: 17px;
    font-weight: 400;
}
section.trabalhos .conteudo-item button{
    width: 100px;
    padding: 5px 0;
    border-radius: 20px;
    border: solid 2px white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    cursor: pointer;
}